/* Jimmy's kode */
body{
    margin: 0;
    padding: 0;
    font-family: Calibri;
    background-color: #c2fbff;
}
h2{
    font-size: 4em;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 25px;
    height: 50px;
}

footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #38c6d9;
    color: white;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#forside_info{
    width: 60%;
}

#logo_and_title{
    display: flex;
    align-items: center;
    height: 100%;
    color: #000000;
    text-decoration: none;
}

#logo {
    height: 100%;
}

.profil{
    color: black;
    display: inline-block;
    border-radius: 40px;
    box-shadow: 0px 0px 2px black;
    padding: 0.3em 0.4em;
}

.profil:hover{
    color: #ff0f27;
    box-shadow: 0px 0px 2px #ff0f27;
}

#forside_info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 60%;
    margin: 0 20%;
}

#forside_info,h2{
    align-self: center;
}

#createWishContainer{
    display: flex;
    justify-content: space-evenly;
}

#addWishBox{
    width: 30%;
    border: 1px solid black;
}

#wishList{
    width: 40%;
    border: 1px solid black;
}

#wishArray{
    display: flex;
    justify-content: space-evenly;
}

.input-button{
    padding: 5px 10px;
    cursor: pointer;
    color: #000;
    background-color: #FFF;
    border: 2px solid dodgerblue;
}

#login_bottom{
    display: flex;
    justify-content: space-between;
}

#scroll{
    overflow: scroll;
}



/*From https://www.w3schools.com/howto/howto_css_login_form.asp */
/* Full-width input fields */
input[type=text], input[type=password] {
    width: 100%;
    box-sizing: border-box;
}


/* Center the image and position the close button */
.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
    position: relative;
}

.container {
    padding: 16px;
}

span.psw {
    float: right;
    padding-top: 16px;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 40%; /* Could be more or less, depending on screen size */
}

/* The Close Button (x) */
.close {
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: red;
    cursor: pointer;
}

/* Add Zoom Animation */
.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)}
    to {-webkit-transform: scale(1)}
}

@keyframes animatezoom {
    from {transform: scale(0)}
    to {transform: scale(1)}
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
    span.psw {
        display: block;
        float: none;
    }
    .cancelbtn {
        width: 100%;
    }
}

.input-container {
    display: flex;
    width: 100%;
    margin-bottom: 15px;
}

.icon {
    padding: 10px 15px;
    background: dodgerblue;
    color: white;
    min-width: 50px;
    text-align: center;
}

.input-field {
    width: 100%;
    padding: 10px;
    outline: none;
}
.input-field:focus {
    border: 2px solid dodgerblue;
}
/*END Jimmy's kode */

.createUserBox{
    background-color: #fefefe;
    margin: auto;
    width: 400px;
    text-align: center;
}
legend{
    background: white;
    padding: 5px 10px;
}
/* The side navigation menu */
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #38c6d9;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
    outline: 1px solid black;
}

/* The navigation menu links */
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: black;
    display: block;
    transition: 0.3s;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
    transition: margin-left .5s;
    padding: 20px;
}
.input-container2{
    text-align: center;
    padding-bottom: 5px;

}
.optionBoxes{
    outline: 1px solid black;
    display:flex;
    justify-content: space-evenly;
    height: 100%;
}
.makeWishList{
    height: 450px;
    width: 30%;


}
.UpperBox{

    text-align: center;
    background-color: #38c6d9;
    height: 10%;
    outline: 1px solid black;
}
.LowerBox{
    height: 250px;
    outline: 1px solid black;

}
#addImg{
    height: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}
.createUserTitle{
    padding-bottom: 30px
}
