<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Gavelisten</title>
  <script src="https://kit.fontawesome.com/4ef292df47.js" crossorigin="anonymous"></script>
  <link rel="stylesheet"  href="/style.css">
</head>
<body>
<header>

  <a id="logo_and_title" href="index">
    <img id="logo" src="https://cdn-icons-png.flaticon.com/512/172/172155.png">
    <h1>Gavelisten</h1>
  </a>

  <i onclick="document.getElementById('id01').style.display='block'" class="fa-solid fa-circle-thin fa-user fa-2x profil"></i>

  <div id="id01" class="modal">

    <form class="modal-content animate" action="login" method="POST">
      <div class="imgcontainer">
        <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">&times;</span>
      </div>

      <div class="container">

        <h3>Bruger Indstillinger</h3>

        <div class="input-container2">
          <form action="idk">
            <input type="submit" value="Ændre Bruger" />
          </form>
        </div>

        <div class="input-container2">
          <form action="invalidate-session">
            <a href="invalidate-session"><input type="submit" value="Log ud" /></a>
          </form>
        </div>

      </div>
    </form>
  </div>


</header>
<main>
  <div id="createWishContainer">
    <section id="addWishBox" class="container">
      <h3>Opret gaveliste</h3>
      <form action="/createWishlist" method="post">
          <label>Gaveliste navn</label>
          <div class="input-container">
            <input class="input-field" placeholder="Indtast gaveliste navn" type="text" name="wishlistName">
          </div>
          <button class="input-button" type="submit">Opret</button>
      </form>
    </section>
  </div>



</main>
<footer>
  <p>Gavelisen</p>
  <p>Tlf: 33445566</p>
  <p>Email: gavelisten@gmail.com</p>
  <p>Private politik</p>
</footer>

</body>
</html>