<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Gavelisten</title>
    <script src="https://kit.fontawesome.com/4ef292df47.js" crossorigin="anonymous"></script>
    <link rel="stylesheet"  href="/style.css">
</head>
<body>

<header>
    <div>
        <img id="logo" src="https://cdn-icons-png.flaticon.com/512/172/172155.png">
        <h1>Gavelisten</h1>
    </div>
    <div>
        <a href="#"><i class="fa-solid fa-user"></i></a>
    </div>
</header>
<main>
    <section>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nibh mi, blandit a commodo vitae, auctor vitae nisi. Duis at fermentum leo. Vivamus pharetra massa eget velit placerat finibus. Integer sodales viverra odio eu tincidunt. Curabitur id ante porttitor, egestas erat semper, suscipit quam. Curabitur non metus non nibh hendrerit bibendum facilisis nec justo. Duis scelerisque mi blandit, congue mi in, porttitor lacus. Fusce id justo quis ante convallis faucibus. Vivamus finibus sem ex, in lacinia enim maximus quis. Integer congue ligula in sollicitudin viverra. Aliquam et nisi nulla. Ut id tempus lorem, sed sollicitudin urna. Maecenas cursus ligula mi, ut consectetur odio sagittis id. Morbi at dignissim quam.</p>
    </section>
</main>
<footer>

</footer>
</body>
</html>