<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<fieldset>
    <legend>Create new user</legend>
    <form action="/Get-Info" method="POST">
        <label for="userName">Name </label> <input type="text" name="userName" id="userName" placeholder="Click Here" required> <br>
        <label for="mail">Mail </label> <input type="text" name="mail" id="mail" size="50" placeholder="Click Here" required> <br>
        <label for="password">Password </label> <input type="password" name="password" id="password" size="50" placeholder="Click Here" required> <br>
        <input type="submit" value="Create User">
    </form>

</fieldset>
</body>
</html>