<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Gavelisten</title>
    <script src="https://kit.fontawesome.com/4ef292df47.js" crossorigin="anonymous"></script>
    <link rel="stylesheet"  href="/style.css">
</head>
<body>
<header>
    <a id="logo_and_title" href="index">
        <img id="logo" src="https://cdn-icons-png.flaticon.com/512/172/172155.png">
        <h1>Gavelisten</h1>
    </a>
    <i onclick="document.getElementById('id01').style.display='block'" class="fa-solid fa-circle-thin fa-user fa-2x profil"></i>

    <div id="id01" class="modal">

        <form class="modal-content animate" action="login" method="POST">
            <div class="imgcontainer">
                <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">&times;</span>
            </div>

            <!--Timmie's Kode-->
            <div class="container">
                <h3>Bruger Indstillinger</h3>
                <div class="input-container2">
                    <form action="idk">
                        <input type="submit" value="Ændre Bruger" />
                    </form>
                </div>

                <div class="input-container2">
                    <form action="invalidate-session">
                        <a href="invalidate-session"><input type="submit" value="Log ud" /></a>
                    </form>
                </div>

            </div>
            <!--/Timmie's Kode-->
        </form>
    </div>
</header>

<!--Timmie's Kode-->
<div id="mySidenav" class="sidenav">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    <a href="userWebsite">Homepage</a>
    <a href="createWishlist">Tilføj Ønskeliste</a>
    <a href="viewWishlist">Mine Ønskelister</a>
    <a href="#">Andres Ønskelister</a>
</div>
<!--/Timmie's Kode-->
<span class="menu" onclick="openNav()">Menu</span>
<div id="main">
    <h3 th:text="${session.user.getUserName()}"> </h3>
</div>

<div>

    <!--Jimmy's kode-->
<main>
    <div id="createWishContainer">
        <section id="wishList">
            <div class="container">
                <div id="wishArray">
                    <div>
                        <p>Produckt navn:</p>
                        <div th:each="wish : ${ListOfWish}">
                            <p th:text="${wish.getWishName()}"></p>
                        </div>
                    </div>
                    <div>
                        <p>Pris:</p>
                        <div th:each="wish : ${ListOfWish}">
                            <p th:text="${wish.getWishPrice()}"></p>
                        </div>
                    </div>
                    <div>
                        <p>Link:</p>
                        <div th:each="wish : ${ListOfWish}">
                            <p th:text="${wish.getWishLink()}"></p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</main>
    <!--end Jimmy's kode-->
<footer>
    <p>Gavelisen</p>
    <p>Tlf: 33445566</p>
    <p>Email: gavelisten@gmail.com</p>
    <p>Private politik</p>
</footer>

</body>

<!--Timmie's Kode-->
<script>

    function openNav() {
        document.getElementById("mySidenav").style.width = "250px";
        document.getElementById("main").style.marginLeft = "250px";
    }


    function closeNav() {
        document.getElementById("mySidenav").style.width = "0";
        document.getElementById("main").style.marginLeft = "0";
    }
</script>
<!--/Timmie's Kode-->
</html>